* {
    margin: 0;
    padding: 0;
    font-family: 'Cabin';
}

button {
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

.menu-content-1 {
    display: flex;
    height: 72px;
    padding: 16px 52px;
    flex-shrink: 0;
    background: #10BBD5;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 46px;
    z-index: 10;
}

.menu-container-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}


.header-logo {
    display: flex;
    gap: 4px;
    width: 26px;
    height: 28px;
}

.header-name {
    color: #F8FDFE;
    font-size: 24px;
    font-weight: 700;
}

.header-vector-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header-price {
    display: flex;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
}

.image-vector {
    width: 40px;
    height: 40px;
}

.image-vector-btn {
    background: #10BBD5;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.image-vector-cart {
    display: flex;
    width: 40px;
    height: 33px;
    flex-shrink: 0;
}

.menu-container-2 {
    display: inline-flex;
    padding: 4px 52px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;
    position: absolute;
    top: 104px;
    left: 0;
    background-color: #F8FDFE;
}

.header-list {
    display: flex;
    width: 1400px;
    justify-content: space-between;
    align-items: flex-start;
}

.header-list-name {
    font-size: 16px;
    font-weight: 400;
}

.menu-content-2-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.main-content {
    display: flex;
    background-color: #EEEEEF;
    
}

.main-name {
    font-size: 32px;
    font-weight: 600;
    margin: 0 647px 23px 52px;
}

.main-line {
    display: flex;
    margin: 0 52px 24px 0px;
    width: 100%;
    flex-shrink: 0;
    border: 1px solid #A8A8A8;
}

.directory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 52px;
    margin-bottom: 208px;
}



.book {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border: 1px solid #A8A8A8;
    margin-bottom: 32px;
}

.image-1-book {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    position: relative;
}

.final-offer {
    display: flex;
    width: 178px;
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-1-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background: #4200FF;
    position: absolute;
    top: 0;
    left: 0;
}

.info-book {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.name-book {
    display: flex;
    width: 242px;
    height: 31px;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #A8A8A8;
}

.author-book {
    display: flex;
    width: 241px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #8E8E8E;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
}

.price-book {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
}

.btn-add-basket {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #4C394E;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.ends-with-us {
    display: flex;
    width: 178px;
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-2-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background: #AF39E7;
    position: absolute;
    top: 0;
    left: 0;
}

.btn-end-up {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #4D762D;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.atomic-habits {
    display: flex;
    width: 178px;
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-3-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background: #4200FF;
    position: absolute;
    top: 0;
    left: 0;
}

.text-3-spare-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 40px;
}

.prices-book {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.old-price {
    color: #8E8E8E;
    font-size: 24px;
    font-weight: 500;
    text-decoration: line-through;
}



.image-book {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.creative-act {
    display: flex;
    width: 178px;
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spare {
    display: flex;
    width: 178px;
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-5-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background: #4200FF;
    position: absolute;
    top: 0;
    left: 0;
}

.text-5-spare-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 40px;
}

.digital-minimalism {
    display: flex;
    width: 178px;
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-6-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background: #AF39E7;
    position: absolute;
    top: 0;
    left: 0;
}

.text-6-spare-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 50px;
}

.meditations {
    display: flex;
    width: 178px;
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-7-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background: #4200FF;
    position: absolute;
    top: 0;
    left: 0;
}

.text-7-spare-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 40px;
}

.roman-emperor {
    display: flex;
    width: 178px;
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meditations {
    display: flex;
    width: 178px;
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stoics {
    display: flex;
    width: 178px;
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-10-spare-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
}

.dopamine-nation {
    display: flex;
    width: 178px;
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-11-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background: #AF39E7;
    position: absolute;
    top: 0;
    left: 0;
}

.text-11-spare-book {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 50px;
}

.need-therapy {
    display: flex;
    width: 178px;
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-main {
    background: none;
    position: sticky;
    top: 75%;
    right: 2%;
    width: 49px;
    height: 64px;
    flex-shrink: 0;
}


.icon-btn-main {
    width: 64.2px;
    height: 64.2px;
    flex-shrink: 0;
    align-items: center;
    background-color: #10BBD5;
    border-radius: 100%;
}

.footer {
    display: flex;
    height: 88px;
    width: 100%;
    flex-shrink: 0;
    background: #4C394E;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.footer-head {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    margin-left: 52px ;
}

.footer-end {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    margin-right: 52px;
}